<div class="marg-top-1rem">
  <h3 class="display-inline-block text-bold marg-right-1rem">
    Sequence ActiveTrack Name
  </h3>
  <span class="cursor-pointer m-badge m-badge-large--success m-badge--wide">
    Edit
  </span>
</div>
<div class="spacing-top"></div>
<app-tabs ulClass="clearfix main-tabs p-0 m-0 " liClass="main-tab">
  <app-tab title="Track Item Details" tabClass="p-2">
    <div class="row border-bot-dot pad-tb">
      <div class="col-sm-6 spacing-top">
        Trackitem Name<br>
        <span class="bold">Trackitem Name</span>
      </div>
      <div class="col-sm-6 spacing-top">
        Trackitem Type<br>
        <span class="bold">Trackitem Type</span>
      </div>
      <div class="col-sm-6 spacing-top">
        Running time<br>
        <span class="bold">Running time</span>
      </div>
      <div class="col-sm-6 spacing-top">
        End game<br>
        <span class="bold">End Game</span>
      </div>
    </div>
  </app-tab>
  <app-tab title="Progress" tabClass="p-2">

  </app-tab>
  <app-tab title="History" tabClass="p-2">

  </app-tab>
  <app-tab title="Actions" tabClass="p-2">

  </app-tab>
</app-tabs>