<div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="display-3">
            System Data
        </h3>
      </div>
    </div>
  </div>
  
  <div class="m-content">
      <div class="row">
        <div class="col-xl-3 col-lg-4">
          <div class="m-portlet m-portlet--full-height  ">
            <div class="m-portlet__body">
              <div class="m-card-profile">
                <div class="m-card-profile__title m--hide">
                  Your Profile
                </div>
                <div class="m-card-profile__pic">
                  <div class="m-card-profile__pic-wrapper">
                    <img src="../../../../../assets/media/user.png" alt="user">
                  </div>
                </div>
                <div class="m-card-profile__details">
                  <span class="m-card-profile__name">
                    Administrator
                  </span>
                  <a href="" class="m-card-profile__email m-link">
                    admin@DigiTrack.co.za
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8">
          <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
            <div class="m-portlet__head">
              <div class="m-portlet__head-tools">
                <form class="m-form m-form--fit m-form--label-align-right">
                  <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                      <div class="col-12">
                        <h3 class="m-form__section">
                          1. Personal Details
                        </h3>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Full Name
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" value="Administrator" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Occupation
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" value="CTO">
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Company Name
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" value="DigiTrack">
                        <span class="m-form__help">
                          If you want your invoices addressed to a company. Leave blank to use your full name.
                        </span>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Phone No.
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" value="+27123456789">
                      </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                    <div class="form-group m-form__group row">
                      <div class="col-10 ml-auto">
                        <h3 class="m-form__section">
                          2. Address
                        </h3>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Address
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" value="L-12-20 Vertex, Cybersquare">
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        City
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" value="San Francisco">
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        State
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" value="California">
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Postcode
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" value="45000">
                      </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>


                  </div>
                  <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                      <div class="row">
                        <div class="col-2"></div>
                        <div class="col-7">
                          <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                            Save changes
                          </button>
                          &nbsp;&nbsp;
                          <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
