.main-tabs {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  // max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.main-tab{
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main-tabs .nav-link {
  padding: 2.65em 0.5em;
  color: #74777b;
  line-height: 1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 2px solid #dfe2ea;
  border-left: 0 !important;
  &.active {
      border-bottom: 0 !important;
      background: #fff !important;
  }
}
.main-tab:first-child .nav-link{
  border-left: 2px solid #dfe2ea !important;
}
.reg-tabs {
  background-color: #e1e2f6;
.nav-link{
    border: 2px solid transparent;
 &.active {
    border-right: 0;
    background: #979cc6!important;
    border: 2px solid #979cc6;
    
    &::before {
        content: "";
        position: absolute;
        width: 45px;
        height: 46px;
        top: 8px;
        right: -24.4px;
        bottom: 0;
        border-right: 2px solid #979cc6;
        border-bottom: 2px solid #979cc6;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background: #979cc6;
    }
  }
 }
}

.sequence-tab .tab-content {
  padding: 42px;
}
.reg-tabs.no-marg-bot{
  margin: -2px -3px;
}
