<div id="SequenceDashboard">
  <div class="sequence-dashboard">
    <div class="flex-box-2 grey">
      <div class="flex-box-body">
        <span class="number purple-color diaaplay-inline-block">6</span> <span class="graph-line">--------</span>
      </div>
      <div class="flex-box-footer">
        <span class="text text-black diaaplay-inline-block">Number of sequences</span> <button type="button" class="btn m-btn--pill m-btn--air btn-outline-brand m-btn m-btn--outline-2x ">
          View
        </button>
      </div>
    </div>
    <div class="flex-box-2 green">
      <div class="flex-box-body">
        <span class="number green-color diaaplay-inline-block">24</span> <span class="graph-line">--------</span>
      </div>
      <div class="flex-box-footer">
        <span class="text text-black diaaplay-inline-block">Active tracks</span> <button type="button" class="btn m-btn--pill m-btn--air btn-outline-success m-btn m-btn--outline-2x ">
          View
        </button>
      </div>
    </div>
    <div class="flex-box-2 yellow">
      <div class="flex-box-body">
        <span class="number yellow-color diaaplay-inline-block">7</span> <span class="graph-line">--------</span>
      </div>
      <div class="flex-box-footer">
        <span class="text text-black display-inline-block">Completed</span> <button type="button" class="btn m-btn--pill m-btn--air btn-outline-primary m-btn m-btn--outline-2x ">
          View
        </button>
      </div>
    </div>
    <div class="flex-box-2 blue">
      <div class="flex-box-body">
        <span class="number blue-color diaaplay-inline-block">6</span> <span class="graph-line">--------</span>
      </div>
      <div class="flex-box-footer">
        <span class="text text-black diaaplay-inline-block">Most used sequence</span> <button type="button" class="btn m-btn--pill m-btn--air btn-outline-info m-btn m-btn--outline-2x ">
          View
        </button>
      </div>
    </div>
  </div>
</div>